<h2>Lista produktów</h2>

<table border="1" cellpadding="10" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Cena</th>
      <th>Data produkcji</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      
      <td>{{ p.price | currency:'PLN':'symbol':'1.2-2' }}</td>
      
      <td>{{ p.creationDate | date:'dd/MM/yyyy' }}</td>
      
      <td><a [routerLink]="['/products', p.id]">Szczegóły</a></td>
    </tr>
  </tbody>
</table>
<p *ngIf="products.length === 0">Brak elementów na tej stronie.</p>

<div style="margin-top: 15px;">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Poprzednia</button>
  <span style="margin: 0 10px;">Strona: {{ currentPage }}</span>
  <button (click)="nextPage()">Następna</button>
</div>